git+https://github.com/pipecat-ai/pipecat.git
pipecat-ai-small-webrtc-prebuilt

google-genai
google-api-core
google-generativeai
opencv-python-headless
deepgram-sdk
aiortc
fastapi
uvicorn
python-dotenv